<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="descriçaõ ;-;">
    <meta name="keyword" content="Sigaa, web design, Sigaa Mobile, Instituto Federal, IF">
    <meta name="author" content="Rodrigo da silva brito">
    <script src="https://kit.fontawesome.com/755ff7a8df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/home-import.css">
    <title>Sigaa</title>
</head>
<body>
    <header>
        <div data-menu-dropdown class="menu-dropdown">
            <div data-menu-dropdown="hamburg" class="bar">
                <i class="fas fa-bars"></i>
            </div>
    
            <nav data-menu-dropdown="menu">
                <div class="sair">
                    <i class="fas fa-times"></i>
                </div>

                <ul>
                    <li><a href="">minhas contas</a></li>
                    <li><a href="">minhas contas</a></li>
                    <li><a href="">minhas contas</a></li>
                    <li><a href="">minhas contas</a></li>
                    <li><a href="">minhas contas</a></li>
                    <li><a href="">minhas contas</a></li>
                </ul> 
            </nav>
        </div>

        <h1>Ifac-SIGAA Mobile</h1>

        <div class="log-off">
            <a href="../index.html">Sair</a>
        </div>
    </header>

    <section data-info-user class="area-user">
        <div class="container">
            <div data-info-user="img" class="img-user"></div>

            <div data-info-user="infos" class="info-user">
                <p data-info-name="nome">Nome completo</p>
                <p data-info-name="turma">Turma</p>
                <p data-info-name="numeroMatricula">0000000000</p>
                <p data-info-name="curso">TÉCNICO EM INFORMÁTICA PARA INTERNET - MATUTINO (MT) (TIPI) - Integrado</p>
            </div>
        </div>
    </section>

    <section data-atividades class="atividades">
        <div class="container-atividades">
            <h1>Atividades Recentes: </h1>
            <p data-atividades="atividades-recentes">Materia - atividade de aprendizado 02 como faço tata - 00/00/0000</p>
            
            <nav data-atividades="componentes-curriculares">
                <h1>Componente corricular</h1>

                <ul>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                    <li><a href="#">Materia - professor Eduardo</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <footer>
        <h1>© direitos</h1>
    </footer>

    <script type="module" src="../public/js/main.js"></script>
</body> 
</html>